@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
.about-topi{
  position: relative;
}

.cont-high {
  position: relative;
  top: 10px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 33px;
  flex-wrap: wrap;
}

.cont-high .aboutBox {
  position: relative;
  width: 350px;
  height: 280px;
  background: #51446e;
  border-radius: 20px;
  overflow: hidden;
}

.cont-high .aboutBox .icon-a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--i);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition-delay: 0.25s;
}

.cont-high .aboutBox:hover .icon-a {
  top: 30px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition-delay: 0s;
}

.cont-high .aboutBox .icon-a i {
  font-size: 5em;
  color: #fff;
  transition: 0.5s;
  transition-delay: 0.25s;
}

.cont-high .aboutBox:hover .icon-a i {
  font-size: 2em;
  transition-delay: 0s;
}

.cont-high .aboutBox .content-first {
  position: relative;
  padding: 20px;
  color: #fff;
  text-align: center;
  margin-top: 100px;
  z-index: 1;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
}

.cont-high .aboutBox:hover .content-first {
  transform: scale(1);
  transition-delay: 0.25s;
}

.cont-high .aboutBox .content-first h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.cont-high .aboutBox .content-first p {
  font-weight: 300;
  line-height: 1.5em;
}
/* ............. */
/* body {
  font-family: 'Roboto';font-size: 20px;
} */

.aboutus-section {
  padding: 90px 0;
  position: relative;
  left: 54px;
}
.aboutus-title {
  font-size: 30px;
  letter-spacing: 0;
  line-height: 32px;
  margin: 0 0 39px;
  padding: 0 0 11px;
  position: relative;
  text-transform: uppercase;
  color: #000;
}
.aboutus-title::after {
  background: #fdb801 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 54px;
}
.aboutus-text {
  color: #606060;
  font-size: 13px;
  line-height: 22px;
  margin: 0 0 35px;
}

a:hover, a:active {
  color: #ffb901;
  text-decoration: none;
  outline: 0;
}
.aboutus-more {
  border: 1px solid #fdb801;
  border-radius: 25px;
  color: #fdb801;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  padding: 7px 20px;
  text-transform: uppercase;
}
.feature .feature-box .iconset {
  background: #fff none repeat scroll 0 0;
  float: left;
  position: relative;
  width: 18%;
}
.feature .feature-box .iconset::after {
  background: #fdb801 none repeat scroll 0 0;
  content: "";
  height: 150%;
  left: 43%;
  position: absolute;
  top: 100%;
  width: 1px;
}

.feature .feature-box .feature-content h4 {
  color: #0f0f0f;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
  margin: 0 0 5px;
}


.feature .feature-box .feature-content {
  float: left;
  padding-left: 28px;
  width: 78%;
}
.feature .feature-box .feature-content h4 {
  color: #0f0f0f;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
  margin: 0 0 5px;
}
.feature .feature-box .feature-content p {
  color: #606060;
  font-size: 13px;
  line-height: 22px;
}
.fa-pen-nib:before {
  content: "\f5ad";
  text-align: center;
  font-size: xx-large;
  float: right;
  position: relative;
  left: 55px;
  color:darkblue;
}
.fa-share-from-square:before{
  content: "\f14d";
  position: relative;
  left: 53px;
  color: darkblue;
}
.fa-thumbs-up:before {
  content: "\f164";
  position: relative;
  left: 56px;
  color: darkblue;
}
/* mmmmmmmmmmmmmmmmmmmm */


.aboutus-container {

  position: relative;
  margin:0 auto;
}

.aboutus-cards {
  max-width:600px;
  height:600px;

}

.aboutus-cards__image {
    width: 100%;
    height: 100%;
    background-image: url('../images/images/employeeeee.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.aboutus-cards__content {
  
  background:white;
 
 max-width:500px;
  
  padding:15px;
  
}

.aboutus-cards__content__items {
  
 
  padding:15px;
  height:350px;
  
}

.aboutus-cards__content__items__text {
  line-height:1.2;
  font-size:18px;
    
  
}

.aboutus-cards_content__button{
  padding:15px;
  background:whitesmoke;
  display: table;
  text-align:center;
  margin:0px auto;
    margin-top:15px!important;
  
  
  }
.aboutus-cards_content__button:hover{

    transform: scale(1.1);
    transition: transform .1s ease-in-out; 
    cursor:pointer;
  }


  
  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 600px)
  and (-webkit-min-device-pixel-ratio: 2) {
     .aboutus-cards__content {
         position: unset!important;
    }
     
}
  
 
  @media only screen and (min-width: 600px) {
  
    .aboutus-cards__content {
     position:absolute;
     top:55px;
     left:530px;
     box-shadow: 1px 1px 8px #888888;
     border-radius:35px 0px 100px 0px;
  
}
}
  