*{
  margin: 0%;
  padding: 0%;
}
.about-high{
  position: relative;
  height: 400px;
}
.ban-aboutus{
  position: relative;
  height:450px;
}




/* .found{
    background-color: aliceblue;
} */
/* our journey */
.timeline {
    position: relative;
    padding: 0;
    list-style: none;
  }
  .timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: "";
    background-color: #e9ecef;
  }
  .timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
  }
  .timeline > li:after, .timeline > li:before {
    display: table;
    content: " ";
  }
  .timeline > li:after {
    clear: both;
  }
  .timeline > li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
  }
  .timeline > li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  .timeline > li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
  .timeline > li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 7px solid #e9ecef;
    border-radius: 100%;
    background-image: linear-gradient(147deg, #ff0078 2%, #f6efa7 74%);
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
  }
  .timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  .timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
  .timeline > li:last-child {
    margin-bottom: 0;
  }
  .timeline .timeline-heading h4, .timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
  }
  .timeline .timeline-heading h4.subheading, .timeline .timeline-heading .subheading h4 {
    text-transform: none;
  }
  .timeline .timeline-body > ul,
  .timeline .timeline-body > .journey-para {
    margin-bottom: 0;
    /* background-color: #ccebff; */
    color:rgb(24, 23, 23);
  }
  
  @media (min-width: 768px) {
    .timeline:before {
      left: 50%;
    }
    .timeline > li {
      min-height: 100px;
      margin-bottom: 100px;
    }
    .timeline > li .timeline-panel {
      float: left;
      width: 41%;
      padding: 0 20px 20px 30px;
      text-align: right;
    }
    .timeline > li .timeline-image {
      left: 50%;
      width: 100px;
      height: 100px;
      margin-left: -50px;
    }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image h4 {
      font-size: 13px;
      line-height: 18px;
      margin-top: 16px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      padding: 0 30px 20px 20px;
      text-align: left;
    }
  }
  @media (min-width: 992px) {
    .timeline > li {
      min-height: 150px;
    }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px;
    }
    .timeline > li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -75px;
    }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image h4 {
      font-size: 18px;
      line-height: 26px;
      margin-top: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 20px 20px;
    }
  }
  @media (min-width: 1200px) {
    .timeline > li {
      min-height: 170px;
    }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px 100px;
    }
    .timeline > li .timeline-image {
      width: 170px;
      height: 170px;
      margin-left: -85px;
    }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image  h4 {
      margin-top: 40px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 100px 20px 20px;
    }
  }
  
  .about-section {
    padding: 6rem 0;
  }
  .about-section h2.section-heading, .about-section .section-heading h2 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .about-section h3.section-subheading, .about-section .section-subheading h3 {
    font-size: rem;
    font-weight: 400;
    font-style: italic;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-bottom: 4rem;
  }
  
  @media (min-width: 768px) {
    section {
      padding: 9rem 0;
    }
  }
  
  .about-center {
      text-align: center !important;
      position: relative;

  }
  
  .about-section h2.section-heading, .about-section .section-heading h2 {
      font-size: 2.5rem;
      margin-top: 0;
      margin-bottom: 1rem;
      color: rgb(21, 22, 22);
  }
  .text-about {
      text-transform: uppercase !important;
  }
  
  .about-section h3.section-subheading, .about-section .section-subheading h3 {
      font-size: -6.5rem;
      color: rgb(17, 17, 17);
      font-weight: 400;
      font-style: italic;
      font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      margin-bottom: 4rem;
  }
  
  .text-jourey {
      --bs-text-opacity: 1;
      color: #114c80 !important;
  }
  @media (min-width: 1400px)
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1320px;
  }
  @media (min-width: 1200px)
  .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1140px;
  }
  @media (min-width: 992px)
  .container-lg, .container-md, .container-sm, .container {
      max-width: 960px;
  }
  @media (min-width: 768px)
  .container-md, .container-sm, .container {
      max-width: 720px;
  }
  @media (min-width: 576px)
  .container-sm, .container {
      max-width: 540px;
  }

 
  *, *::before, *::after {
      box-sizing: border-box;
  }
  
  /* div {
      display: block;
  } */
  .t-journey{
    color: black;
    position: relative;
    top: 54px;
    font-size: xx-large;
    font-weight: 900;
  }
 /* new changs */
  .techrow2{
    position: relative;
    width: 177%;
    height: 465px;
    justify-content: center;
    left: 100px;
    align-items: center;
  }
  .new-inte{
    position: relative;
    top: 0px;
    width: 50%;
    transition: all 2s;
    
}
.new-inte:hover{
    transform: rotateY(180deg);
}
  .new-para1{
    position: relative;
    top: 0px;
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(17, 17, 17);
  }
  .new-passi{
    position: relative;
    width: 50%;
    bottom: 0px;
    transition: all 2s;
}
.new-passi:hover{
    transform: rotateY(180deg);
}
  .new-para2{
    
    position: relative;
    bottom: 0px;
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(17, 17, 17);
  }
  .new-learn{
    position: relative;
    width: 90%;
    right: 0px;
    transition: all 2s;
  }
  .new-learn:hover{
      transform: rotateY(180deg);
  }
  
  .new-para3{
    position: relative;
    bottom: 0px;
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(33, 33, 33);
  }
  .new-team{
    
    position: relative;
    width: 69%;
    bottom: 0px;
    transition: all 2s;
    }
    .new-team:hover{
        transform: rotateY(180deg);
    }
  
  .new-para4{
    
    position: relative;
    bottom: px;
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(21, 19, 19);
  }
.our-goal{
  position: relative;
  font-size: 2.5rem;
  right: 0px;
  font-family: revert;
  font-style: revert;
  top: -16px;
  text-shadow: 2px 2px 5px red;
}
.goal-img{
  width: 100%;
    height: 317px;
    position: relative;
    top: 0px;
    left: 0px;
    transition: width 2s;
  }
  
  .goal-img:hover {
    width: 300px;
  }
      
    



.goal-para{
  position: relative;
  font-size: 23px;
  font-family: serif;
  color: #101628;
  right: 0px;
  bottom: 17px;
  background-color: #d3d3d3;
  
  box-shadow: 10px 10px lightblue;
 
}




.our-our{
  position: relative;
    font-size: x-large;
    top: 22px;
    right: 0px;
    top: 0px;
    text-shadow: 2px 2px 5px red;
}
.ourgoal-right{
  
  
  position: relative;
}
.inte-head{
  position: relative;
  right: 0px;
  height: 300px;
}
.passi-head{
  position: relative;
  right: 0px;
  height: 300px !important;
}

.learn-head{
  position: relative;
  height: 300px;
}

.team-head{
  position: relative;
  left: 0px;
  height: 301px;
}
/* our mission and vision */
.right-img{

  /* position: relative;
  width: 50%;
  left: 110px; */
  /* position: relative;
    width: 53%;
   
    left: 311px; */
}


.left-img{
  /* position: relative;
  width: 53%;
  left: 100px;
  bottom: 205px; */
  /* width: 42%;
  position: relative;
  bottom: 322px;
  left: 198px; */
}
.our-miss{
  /* position: relative;
  text-align: center;
  bottom: 222px;
  left: -60px;
  font-size: xx-large;
  font-family: sans-serif;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; */
  text-align: center;
  position: relative;
  color: rgb(245, 242, 242);
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; 
}
.our-viss{
/*   
  position: relative;
  text-align: center;
  bottom: 449px;
  left: 211px;
  font-size: x-large;
  font-family: sans-serif;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; */
  text-align: center;
    position: relative;
    bottom: 111px;
    color: rgb(254, 252, 252);
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.miss-para{
  /* position: relative;
  text-align: center;
  font-size: xx-small;
  bottom: 283px;
  left: 165px;
  color: blue; */
  position: relative;
    text-align: center;
    font-size: x-small;
    top: 70px;
    left: 210px;
    color:blue;
}
.viss-para{
  /* position: relative;
  text-align: center;
  bottom: 526px;
  left: 19px;
  font-size: xx-small;
  font-family: sans-serif;
  color:blue; */
  text-align: center;
    font-size: x-small;
    position: relative;
    bottom: 100px;
    right: 54px;
    color:blue;
}
.pexels-img{

  /* position: relative;
  width: 632px;
  height: 882px; */
}

.ourval{
  position: relative;
  text-align: center;
  font-size: xx-large;
  font-family: sans-serif;
  font-style: normal;
  top: 65px;
}
/*  */
body
{
  background:url('https://s-media-cache-ak0.pinimg.com/736x/f4/ac/6a/f4ac6aac3afb587f6cae04155656fca3.jpg');
}
.down-img{
  position: relative;
  width: 43%;
  float: right;
  right: 100px;
}
.fa-circle:before {
  
  font-size: 215px;
  align-items: center;
  text-align: center;
  position: relative;
  left: 141px;
  top: 135px;
  color:#4258e1;
}
.our-miss{
  position: relative;
}
