.blog-bannel {
  /* background-image: url("../images/banners/backimg.jpg"); */
  /* background-image: url("../images/banners/cartoon2.gif"); */
  /* background-repeat: no-repeat;
    background-color: red;
    height: 300px;
    width: auto;
    background-position: center center; */
  /* background-color: #e4f6fd; */
  background-image: url("../images/banners/bannerblog.webp");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  height: 290px;
}

.div {
  display: flex;
}

.blog-heading {

  margin-top: 120px;
  font-size: 59px;
  font-weight: 700;
  text-align: right;
  position: relative;
  right: -123px;
  color: white;
}

.blog-banner {
  /* position: relative;
    height: 361px;
    bottom: 21px;
    right: 108px; */
  position: relative;
  height: 361px;
  bottom: 16px;
  right: 21px;
}


.blog-banner1 {
  width: 200px;
  position: relative;
  right: 0px;
}

.main-section {
  text-align: center;
  color: black !important;
  background-color: #0039a6;
  position: relative;
  top: 160px;
  font-size: 2.5rem !important;
  text-shadow: 3px;
  text-transform: uppercase;
}

.blog-main {
  text-align: center;
  text-decoration: none !important;
  position: relative;
  top: 11px;
  font-size: xxx-large;
  text-transform: capitalize;
}

.main-section h4:hover {
  color: black;
}





/* .empty-card {
    height: 514px !important;
    width: 360px;
    position: absolute !important;
    background-color:#002D62 ;
    margin-left: 2%;
  } */


.first-row {
  position: relative;
  top: 10px;
  /* background-color: #0039a6; */
  /* background-image: linear-gradient(147deg, #e32636 2%, #0E3386 74%); */
  right: -60px;
}

/* .blog-card { */
/* background-image: linear-gradient(147deg, #FFE53B 2%, #fd3838 74%); */
/* background-image: linear-gradient(147deg, #0039a6 2%,  #6699CC 74%); */
/* background-image: linear-gradient(147deg, white 2%, #71def2 74%);
    color: black;
    font-size: medium;
    font-weight: 700;
    left: 5px;
    height: 520px;
    width: 344px;
    border-radius: 0px 31px 0px 58px;
  
  }
  @media  (max-width: 425px){
    .blog-card{
  right:20px;
    }
  }
  .blog-card:hover {
    color: black;
  }
  
  .blog-img {
    width: 300px !important;
  }
  
  .blog-img2 {
    width: 300px !important;
  }
  
  .blog-img3 {
    width: 300px !important;
  }
  
  .blog-img4 {
    width: 300px !important;
  }
  
  .para1 {
    font-style: bold;
    text-decoration: none !important;
    font-size: 14px;
    padding: 16px;
    position: relative;
    bottom: 83px;
  
  }
  .para2{
    position: relative;
    font-size: smaller;
    padding: 12px;
    bottom: 70px;
  }
  .para3{
    position: relative;
    font-size: smaller;
    bottom: 48px;
    padding: 7px;
  }
  .para4{
    position: relative;
    bottom: 59px;
    padding: 15px;
    font-size: smaller;
  }
  .b-click {
    text-decoration: none !important;
    color: #0a2351 !important;
  }
  @media  (max-width: 1024px){
    .blog-heading{
      position: relative;
      left: -287px;
    }
  }
  @media  (max-width: 425px){
  .blog-banner{

  }
}
  @media  (max-width: 768px){
    .blog-heading{
      position: relative;
      left: -188px;
    }
  } */


/* blog.css */
.card-head {
  width: 300px;
  height: 510px;
  border-radius: 0% 15% 0% 15%;
  margin: none !important;
  background-color: #87cdea;
  position: relative;
  top: 20px;
  right: 30px;
  box-shadow: 10px black;
}

.card-head:hover {
  z-index: 1000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.2s ease;
  background-color: #203a64;
}

.cardheading {
  /* position: relative !important;
    left: 75px; */
  justify-content: center;
  background-color: blue !important;

}

.sheading,
h4 {
  color: rgba(16, 15, 15, 0.865);
  font-size: 20px;
  text-align: center;
  text-decoration: none !important;
}

.sicon {
  height: 100px;
  width: 100px;
  margin-left: 36%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center !important;
  /* color: rgb(206, 23, 23); */
  /* border: 1px solid #008080; */
  /* border-radius: 50%; */
  background: white;
}

.sicon-icon {
  color: #008080;
  font-size: 52px !important;
}

.spara {
  color: rgba(26, 24, 24, 0.833);
  font-size: 15px;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  word-spacing: 5px;
  line-height: 18px;
  font-weight: 500;
  font-family: sans-serif;
}

.blog-img1 {
  position: relative;
  width: 148px;
  left: 76px;
}

.blog-img2 {
  position: relative;
  width: 201px;
  left: 37px;
}

.blog-img3 {
  position: relative;
  width: 123px;
  left: 90px;
}

.blog-img4 {
  position: relative;
  width: 129px;
  left: 89px;
}

.b-click {
  text-decoration: none !important;
  color: #0a2351 !important;
}