
.contactrow{
    /* background: red;
    background-image: linear-gradient(147deg, white 0%, rgb(18, 18, 43) 74%); */
    position: relative;
    top: 20px;
    border-radius: 10px;
}
.cheading{
    position: relative;
    font-weight: bold;
    /* top: 150px; */

    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    color: rgb(8, 9, 9);
  
}
.about-card{
    border:none !important;
}
.cfeild{
    padding: 5%;
}
.contact-form{
    margin-top: 3% !important;

}
.coladdress{
    padding: 9% !important;
    margin-top: -6% !important;
    font-size: larger;
    
}
.col2{
    padding-bottom: 0%;
    margin-left: 65px;
}


.formhead{
    text-align: center;
}
.cform{
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 2px solid black !important;
    /* border-radius: none !important; */
    border-radius: 0px !important;
    width:300px ;
    box-shadow: none !important;
    padding-top: 5% !important;
    font-size: larger !important;
    font-weight: bold !important;
}
.cform::placeholder {
    color:black;
    opacity: 1; /* Firefox */
  }
/*form  phone number arrow icon remove start */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
/*form  phone number arrow icon remove end */
.c-dropdown{
    color:black !important ;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    font-weight: bold;
    
}
/* .c-dropdown:invalid{
    color: green;
} */

.c-dropdown::-ms-expand {
    display: none !important;
}
.c-dropdown:invalid {
    color: green !important;
  }
option:nth-child(1){
    color: #69757d !important;
}


.ccontact {
    color: black !important;
  
}
.clist{
padding-top: 7%;
padding-left: 5%;
/* text-decoration: none!important; */
color: black !important;
text-decoration: center;
}
.cmap{
   height: 300px !important;
   width: 100% !important;
   position: relative;
   top: 30px;
   border-radius: 10px;   
}
.fa-solid{
    font-size: 30px;
}