* {
    padding: 0%;
    margin: 0%;
}

html,
body {
    width: 100%;
    max-width: 100%;
    padding: 0px;
    margin: 0%;
    overflow: auto;
    text-decoration: none;
    background-color: white;
    overflow-x: hidden;
}

.nav-brand {
    height: 100px;
}

.nav-main {
    background-color: #E1EBEE !important;
}

.navbar {
    display: block
}

.logo img {
    max-height: 80px !important;
    max-width: auto !important;
    position: relative;
    top: 25px;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: right !important;
    float: right;
}

.nav {
    float: right !important;
    text-decoration: none !important;
    word-wrap: nowrap;
    display: flex !important;
}

.nav-ul {
    display: flex !important;
}

.navbar-nav>.active>a,
.nav-link:hover {

    color: #0160ee !important;

}



.nav-li a {
    text-decoration: none !important;
    position: relative;
    bottom: 20px;
    color: black !important;
    margin-right: 40px;
    font-size: 20px;
    white-space: nowrap;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-item.active-test .nav-link {
    color: white !important;
}

.nav-item::before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #dfe2ea;
    border-radius: 8px 8px 0 0;
    opacity: 0;
    transition: .3s;
}


.info-li a {

    position: relative;

    border-top: none;
    border-right: none;
    padding-left: 30px !important;
    /* background-color:#67b0f0; */
    border-radius: 0px 0px 0px 0px !important;
    padding: 10px;

}

.info li a {
    float: right !important;
    display: flex;
    display: inline-block !important;

    text-decoration: none;
    color: rgb(245, 245, 255);
    font-size: 15px;

}

.info-li {
    text-decoration: none !important;
    list-style: none;

}

.info-main {

    border: 1px solid #125df0;
    width: 480px !important;
    /* margin-left: 500px !important; */
    height: 40px;
    display: flex;
    /* align-content: flex-end !important; */
    background-color: #125df0;
    border-radius: 0px 0px 0px 15px !important;
    position: relative;
    justify-content: end !important;
    left: 20px;
    bottom: 10px;
}

.info-fix {
    position: relative;
    right: 10px;
    font-size: 13px;
}

.info-table {
    float: right;
    position: relative;
    left: 4%;
    bottom: 15px;
    display: flex;
    align-items: flex-end;
}

.hemail {
    position: relative !important;
    right: 30%;
    padding: 0%;
    margin: 0%;
}

.info-email {
    position: relative;
    left: 40px;
}

.info-icon {
    position: relative;
    right: 18px;
    font-size: 14px !important;
}

.hamburger {
    position: relative;
    z-index: 100;
    top: -1%;
    right: 1rem;
    cursor: pointer;
    display: none !important;
}

.closeIcon {
    font-size: 45px !important;
    color: black !important;
    position: relative;
    bottom: 35px;
}




@media (max-width:1024px) {
    .logo img {
        width: 150px;

    }

    .info li a {
        font-size: 13px !important;
    }

    .info-icon {
        position: relative;
        right: 14px;
        top: 2px;
    }

    .info-main {
        width: 480px !important;
    }

    .nav-li a {
        display: block;
        margin-left: 28%;
        font-size: 18px;
        font-weight: bolder !important;
    }


}



@media (max-width: 768px) {



    .nav-ul {
        position: fixed;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: rgb(246, 244, 250);
        color: rgb(213, 34, 34) !important;
        text-align: center;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding-top: 4rem;
        flex-direction: column !important;

    }

    


    .logo img {
        position: relative !important;
        top: 35px;
        width: 140px;
        height: 55px;
    }

    .navbar {
        height: 130px;
    }

    .hamburger {
        position: relative;
        z-index: 100;
        top: -1%;
        right: 1rem;
        cursor: pointer;
        display: block !important;
    }

    .closeIcon {
        font-size: 45px !important;
        color: black !important;
        position: relative;
        bottom: 35px;
    }

    .showMenu {
        transform: translateY(0);
    }
}



@media (max-width:767px) {



    .info-ul {
        display: block !important;
        position: relative;
        bottom: 61px;

    }

    .info-main {
        width: 480px !important;
        right: 5px;
    }

    .info-fix {
        top: 4px;
        right: 18px;
    }

    .info-icon {
        left: -22px;
        top: 5px;
    }

    .info li a {
        font-size: 11px !important;
    }

    .logo img {
        position: relative !important;
        top: 40px;
        width: 140px;
        height: 55px;
    }



    .hamburger {
        position: absolute;
        z-index: 100;
        top: 49% !important;
        right: 3rem;
        cursor: pointer;
        display: block !important;
    }

    .navbar {
        display: block;
        height: 130px;
    }

    .hemail {
        bottom: 5px;
    }

}

@media (max-width:575px) {


    
}

@media (max-width:500px) {
    .info-main {
        width: 560px !important;
        right: 5px;
    }

    .info li a {
        font-size: 7px !important;
    }

    .nav li {
        display: block;
    }
}

@media (max-width:425px) {
    .navbar {
        height: 130px;
    }

    .logo img {

        width: 130px;
        height: 50px;
    }

    .info-li {
        display: none;
    }

    .toggle {
        bottom: 19px;
    }

    /* .info-main{
        border-radius: 0px 0px 0px 0px !important;
            width:471px;
         
    }
   
    .info-email,.info-phone {
        left: 20px;
    } */

}

/* mega menu */
.mega-box {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 100px;
    visibility: hidden;
    border-radius: 10px;


}

.mega-content {
    background: #deebee;
    border: 10px;
    padding: 25px 40px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.mega-main {
    width: 25%;
    line-height: 45px;

}

.mega-main p {
    color: black;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.mega-ul {
    list-style: none;
    margin-right: -42px;

}


.mega-li {
    padding: 0 20px;
    text-align: left;

}

.mega-link {
    font-size: 11px !important;
    padding: 0 20px;
    color: #125df0;
    display: inline-block;
    width: 70%;
    /* transition: all .4s ease; */
}

/* .mega-link:hover {
    color: red !important;
    border-radius: 10px;
    background-color: #11b8ea !important;

} */

#nav-ul:hover .mega-box {
    /* transition: all 10s !important; */
    visibility: visible;
    z-index: 3;
}

.mega-link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(215, 15, 15);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.mega-link:hover:after {
    width: 50%;
    left: 0;
}


/*image  */
.mySlides {
    display: none;
}

  


.slider-button {
    height: 17px;
    width: 13px;
    padding: 0;
    display: flex;
    position: relative;
    background: black;
    color: black !important;
    bottom: 50px;
    left: 49%;

}

.curousel-btn {
    display: flex;
    position: relative;
    bottom: 50%;

}

.w3-left,
.w3-right,
.w3-badge {
    cursor: pointer
}

@media (max-width:768) {
    .slider-button {
        height: 12px;
        width: 13px;
        left: 45%;
    }
}



/* our services */


.index-ser {
    text-align: center;
    font-size: 22% !important;
    color: rgb(201, 110, 110);
    font-family: sans-serif;
    position: relative;
    top: 20px;

}

.index-3-service {
    display: grid;
    gap: 20px;
    grid-template-columns: auto-fit, minmax(300px);

}

.index-col-1,
.index-col-2,
.index-col-3 {
    margin-top: 50px;
    margin-bottom: 30px;

}



.index-main-ser {
    width: 100%;
    height: 350px;
    text-align: center;
    position: relative;
    cursor: pointer;
    margin-top: 240px;

}

@keyframes fadeInLef {
    0% {
        opacity: 0;
        transform: translateY(-300px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.equal-height {
    row-gap: 20px;
}

.index-serivice-card {
    background-color: #B0C4DE;
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    gap: 10px 20px 40px 40px;
    bottom: 0%;
    z-index: 1;
    transition: transform .8s;
    box-shadow: 0 0 20px -15px #030380;
}

.our-index-service-icon {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: -90px auto 0;
    background-color: #B0C4DE;
    border: 10px solid white;
}

.our-index-service-icon i {
    font-size: 50px;
    margin-top: 35px;
    /* margin-left: 20px; */
    transition: transform 1s;

}

.our-index-service-heading h4 {
    height: 35px;
    width: 80%;
    font-size: 25px;
    color: black;
    background: #B0C4DE;
    margin: 50px auto;
    position: relative;
    text-align: center;
}

.our-index-service-heading h4::after {
    content: '';
    width: 40px;
    height: 30px;
    background-color: #4C516D;
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: -1;

}

.our-index-service-heading h4::before {
    content: '';
    width: 40px;
    height: 30px;
    background-color: #4C516D;
    position: absolute;
    left: -5px;
    bottom: -5px;
    z-index: -1;
}

.index-shadowone {
    height: 200px;
    width: 80%;
    background-color: #B0C4DE;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 10%;
    z-index: -1;
    box-shadow: 0 0 20px -15px #030380;
    transition: transform .8s;
}

.index-shadowtwo {
    height: 200px;
    width: 64%;
    background-color: #B0C4DE;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 18%;
    z-index: -2;
    box-shadow: 0 0 20px -15px #030380;
    transition: transform .8s;
}

.index-main-ser:hover .index-serivice-card {
    transform: translateY(-50px);
}

.index-main-ser:hover .index-shadowone {
    transform: translateY(-25px);
}

.index-serivice-card:hover .our-index-service-icon i {
    transform: rotate(360deg);
}

@media (max-width:574px) {


    .card-head {
        width: 550px;
        height: 500px;
    }
}

@media (max-width:1199px) {

    .index-col-1,
    .index-col-2,
    .index-col-3 {
        margin-top: 140px;
        margin-bottom: 30px;

    }


    .our-index-service-heading h4 {
        height: 35px;
        width: 80%;
        font-size: 21px;

    }
}

@media (max-width:1024px) {

    .index-col-1,
    .index-col-2,
    .index-col-3 {
        margin-top: 140px;

    }


    .our-index-service-heading h4 {
        height: 35px;
        width: 80%;
        font-size: 21px;

    }





}

@media (max-width:991px) {

    .index-col-1,
    .index-col-2,
    .index-col-3 {
        margin-top: 350px;

    }


    .our-index-service-heading h4 {
        height: 35px;
        width: 80%;
        font-size: 20px;

    }

    .our-index-service-heading h4::before,
    .our-index-service-heading h4::after {
        display: none;
    }
}

@media (max-width:768px) {

    .index-col-1,
    .index-col-2,
    .index-col-3 {
        margin-top: 310px;

    }

    /* .index-col-3{
        margin-bottom: 30px;
    } */

    .our-index-service-heading h4 {
        height: 35px;
        width: 80%;
        font-size: 25px;

    }

    .our-index-service-heading h4::before,
    .our-index-service-heading h4::after {
        display: none;
    }

}

@media (max-width:767px) {

    .index-col-1,
    .index-col-2,
    .index-col-3 {
        margin-top: 0px;

    }

    /* .index-col-3{
        margin-bottom: 30px;
    } */

    .our-index-service-heading h4 {
        height: 35px;
        width: 80%;
        font-size: 25px;

    }

    .our-index-service-heading h4::before,
    .our-index-service-heading h4::after {
        display: block;
    }

}

@media (max-width:525px) {
    .index-service-row {
        position: relative;
        right: 1%;
    }
}

@media (max-width:425px) {

    .index-col-1,
    .index-col-2,
    .index-col-3 {
        margin-top: 74px;

    }

    .index-col-6 {
        margin-bottom: 30px;
    }

    .our-index-service-heading h4 {
        height: 35px;
        width: 80%;
        font-size: 25px;

    }

    .our-index-service-heading h4::before,
    .our-index-service-heading h4::after {
        display: block;
    }

}



@media (max-width:375px) {

    .index-col-1,
    .index-col-2,
    .index-col-3 {
        margin-top: 70px;

    }

    .index-col-3 {
        margin-bottom: 30px;
    }

    .our-index-service-heading h4 {
        height: 35px;
        width: 80%;
        font-size: 25px;

    }

    .our-index-service-heading h4::before,
    .our-index-service-heading h4::after {
        display: block;
    }
}

@media (max-width:350px) {

    .index-shadowone,
    .index-shadowtwo {
        display: none;


    }
}

@media (max-width:320px) {

    .index-col-1,
    .index-col-2,
    .index-col-3 {
        margin-top: 152px;

    }

    .index-col-3 {
        margin-bottom: 30px;
    }

    .our-index-service-heading h4 {
        height: 35px;
        width: 80%;
        font-size: 25px;

    }

    .our-index-service-heading h4::before,
    .our-index-service-heading h4::after {
        display: none;
    }

}

/* our services end */
/* why we choose us end*/
.why-choose{
    background-color: #dfe2e9;
}
.why-main-head{
    margin: 0 0 0rem;
    font-family: Raleway, sans-serif;
    font-size: clamp(1.2rem, calc(1rem + 3.5vw), 3rem);
    line-height: 1.2;
    font-weight: 800;
    color: #222;
    position: relative;
    z-index: 1;
}
.why-main-head::before {
    content: "";
    position: absolute;
    align-items: center;
    /* left: 32%; */
    top: 50%;
    transform: translateY(-50%) rotate(9deg);
    width: 50vmin;
    height: 120%;
    background: #f20890;
    z-index: -1;
  }
  .why-p{
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
  }
.dd_heading {
    text-align: center;
    font-family: roboto thin;
}

.page-content {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    max-width: 1024px;
    margin: 0 auto;
    font-family: var(--font-sans);
}

@media (min-width: 600px) {
    .page-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 800px) {
    .page-content {
        grid-template-columns: repeat(4, 1fr);
    }
}

.d_card {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: end;
    align-items: flex-end;
    overflow: hidden;
    margin-bottom: 60px;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background-color: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
        0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
        0 16px 16px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

@media (min-width: 600px) {
    .d_card {
        height: 350px;
    }
}

.d_card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    -webkit-transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
    transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
    transition: transform calc(var(--d) * 1.5) var(--e);
    transition: transform calc(var(--d) * 1.5) var(--e),
        -webkit-transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
}

.d_card:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: -webkit-gradient(linear,
            left top,
            left bottom,
            from(rgba(0, 0, 0, 0)),
            color-stop(11.7%, rgba(0, 0, 0, 0.009)),
            color-stop(22.1%, rgba(0, 0, 0, 0.034)),
            color-stop(31.2%, rgba(0, 0, 0, 0.072)),
            color-stop(39.4%, rgba(0, 0, 0, 0.123)),
            color-stop(46.6%, rgba(0, 0, 0, 0.182)),
            color-stop(53.1%, rgba(0, 0, 0, 0.249)),
            color-stop(58.9%, rgba(0, 0, 0, 0.32)),
            color-stop(64.3%, rgba(0, 0, 0, 0.394)),
            color-stop(69.3%, rgba(0, 0, 0, 0.468)),
            color-stop(74.1%, rgba(0, 0, 0, 0.54)),
            color-stop(78.8%, rgba(0, 0, 0, 0.607)),
            color-stop(83.6%, rgba(0, 0, 0, 0.668)),
            color-stop(88.7%, rgba(0, 0, 0, 0.721)),
            color-stop(94.1%, rgba(0, 0, 0, 0.762)),
            to(rgba(0, 0, 0, 0.79)));
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.009) 11.7%,
            rgba(0, 0, 0, 0.034) 22.1%,
            rgba(0, 0, 0, 0.072) 31.2%,
            rgba(0, 0, 0, 0.123) 39.4%,
            rgba(0, 0, 0, 0.182) 46.6%,
            rgba(0, 0, 0, 0.249) 53.1%,
            rgba(0, 0, 0, 0.32) 58.9%,
            rgba(0, 0, 0, 0.394) 64.3%,
            rgba(0, 0, 0, 0.468) 69.3%,
            rgba(0, 0, 0, 0.54) 74.1%,
            rgba(0, 0, 0, 0.607) 78.8%,
            rgba(0, 0, 0, 0.668) 83.6%,
            rgba(0, 0, 0, 0.721) 88.7%,
            rgba(0, 0, 0, 0.762) 94.1%,
            rgba(0, 0, 0, 0.79) 100%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: -webkit-transform calc(var(--d) * 2) var(--e);
    transition: -webkit-transform calc(var(--d) * 2) var(--e);
    transition: transform calc(var(--d) * 2) var(--e);
    transition: transform calc(var(--d) * 2) var(--e),
        -webkit-transform calc(var(--d) * 2) var(--e);
}

.d_card:nth-child(1):before {
    background-image: url("../images/images/mordern_images.jpg");
    background-position:center center ;
}

.d_card:nth-child(2):before {
    background-image: url("../images/images/creative_images.jfif");
    background-position:center center ;
}

.d_card:nth-child(3):before {
    background-image: url("../images/images/marketing-strategy.png");
    background-position:center center ;
}

.d_card:nth-child(4):before {
    background-image: url("../images/images/3876231.png");
    background-position:center center ;
}

.why-content {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    -webkit-transition: -webkit-transform var(--d) var(--e);
    transition: -webkit-transform var(--d) var(--e);
    transition: transform var(--d) var(--e);
    transition: transform var(--d) var(--e), -webkit-transform var(--d) var(--e);
    z-index: 1;
}

.why-content>*+* {
    margin-top: 1rem;
}

.why-heading {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
    background-color: navy;
    border-radius: 5px;
    padding: 5px;
}

.data-content {
    font-family: var(--font-serif);
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.35;
}

@media (hover: hover) and (min-width: 600px) {
    .d_card:after {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    .why-content {
        -webkit-transform: translateY(calc(100% - 4.5rem));
        transform: translateY(calc(100% - 4.5rem));
    }

    .why-content>*:not(.why-heading) {
        opacity: 0;
        -webkit-transform: translateY(1rem);
        transform: translateY(1rem);
        -webkit-transition: opacity var(--d) var(--e),
            -webkit-transform var(--d) var(--e);
        transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
        transition: transform var(--d) var(--e), opacity var(--d) var(--e);
        transition: transform var(--d) var(--e), opacity var(--d) var(--e),
            -webkit-transform var(--d) var(--e);
    }

    .d_card:hover,
    .d_card:focus-within {
        -webkit-box-align: center;
        align-items: center;
    }

    .d_card:hover:before,
    .d_card:focus-within:before {
        -webkit-transform: translateY(-4%);
        transform: translateY(-4%);
    }

    .d_card:hover:after,
    .d_card:focus-within:after {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .d_card:hover .why-content,
    .d_card:focus-within .why-content {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    .d_card:hover .why-content>*:not(.why-heading),
    .d_card:focus-within .why-content>*:not(.why-heading) {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition-delay: calc(var(--d) / 8);
        transition-delay: calc(var(--d) / 8);
    }

    .d_card:focus-within:before,
    .d_card:focus-within:after,
    .d_card:focus-within .why-content,
    .d_card:focus-within .why-content>*:not(.why-heading) {
        -webkit-transition-duration: 0s;
        transition-duration: 0s;
    }
}

/* why we choose us end*/

/* testimonial */
.testimonial-start {
    background-image: url("../images/backroung-image/test-2.webp");
    box-sizing: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    height: 618px;
    width: 100%;

}

.test-container {
    width: 800px;
    height: 400px;

    /* position: absolute; */
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
}

.testimonials-head {
    text-align: center;
    padding-top: 80px;
    /* font-size: 40px; */
    color: rgb(192, 43, 43);
}

.testimonials-head h1 {
    font-size: 30px;
}

.testimonial {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.test-row {
    display: flex;
    width: 3200px;
    transition: 0.5s;
}

.test-col {
    width: 800px;
    height: 400px;
    position: relative;
}

.test-img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;

}

.test-img img {
    height: 100%;
    border-radius: 50%;
}

.test-user {
    background: #002244;
    width: 520px;
    height: 270px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    color: white;
    padding: 45px;
    box-sizing: border-box;
    z-index: 2;
}

.test-user p {
    font-size: 18px;
    line-height: 24px;
}

.test-indicator {
    position: relative;
    left: 50%;
    transform: translateY(-50%);
    margin-top: 20px;

    transition: 0.5s;

}

.test-btn {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 4px;
    border-radius: 15px;
    background-color: #002244;
    cursor: pointer;
}

.active-test {
    width: 45px;
}

@media (max-width:991px) {
    .test-img {
        position: absolute;
        top: 89px;
        right: 97px;
        height: 56%;

    }

    .test-user {
        background: #002244;
        width: 520px;
        height: 204px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 10px;
        color: white;
        padding: 45px;
        box-sizing: border-box;
        z-index: 2;
    }

    .test-user p {
        font-size: 13px;
        line-height: 24px;
    }

    .test-indicator {
        left: 36%;
        top: -17%;

    }

    .test-btn {
        display: inline-block;
        height: 15px;
        width: 15px;
        margin: 4px;
        border-radius: 15px;
        background-color: #002244;
        cursor: pointer;
    }

    .active-test {
        width: 45px;
    }
}

@media (max-width:767px) {
    .testimonial-start {

        height: 418px;
        width: 100%;

    }

    .test-row {
        margin-top: -13%;
    }

    .test-img {
        position: absolute;
        top: 89px;
        right: 97px;
        height: 56%;

    }

    .test-user {
        width: 416px;
        height: 150px;
        padding: 10px;

    }

    .test-img {
        position: absolute;
        top: 102px;
        right: 259px;
        height: 54%;

    }

    .test-img img {
        height: 80%;
        border-radius: 50%;
    }

    .test-user p {
        font-size: 12px;
        line-height: 21px;
    }

    .test-indicator {
        left: 31%;
        top: -55%;


    }

    .test-btn {
        display: inline-block;
        height: 5px;
        width: 1px;
        margin: 4px;
        border-radius: 15px;
        background-color: #002244;
        cursor: pointer;
    }

    .active-test {
        width: 18px;
    }

    @media (max-width:575px) {
        .test-indicator {
            left: 21%;
            top: -55%;

        }
    }

}

@media (max-width:550px) {

    .testimonials-head {
        text-align: center;
        padding-top: 28px;
        font-size: 40px;
        color: rgb(192, 43, 43);
    }

    .testimonials-head h1 {
        font-size: 30px;
    }

    .testimonial-start {

        height: 418px;
        width: 100%;

    }

    .test-row {
        margin-top: -13%;
    }


    .test-user {
        width: 380px;
        height: 130px;
        padding: 5px;

    }

    .test-user h3 {
        font-size: 17px;
        font-weight: bold;
    }

    .test-img {
        position: absolute;
        top: 121px;
        right: 312px;
        height: 50%;

    }

    .test-img img {
        height: 70%;
        border-radius: 50%;
    }

    .test-user p {
        font-size: 12px;
        line-height: 21px;
    }

    .test-indicator {
        left: 23%;
        top: -55%;


    }

    .test-btn {
        display: inline-block;
        height: 5px;
        width: 1px;
        margin: 4px;
        border-radius: 15px;
        background-color: #002244;
        cursor: pointer;
    }

    .active-test {
        width: 18px;
    }
}

@media (max-width:500px) {

    .testimonials-head {
        text-align: center;
        padding-top: 28px;
        font-size: 40px;
        color: rgb(192, 43, 43);
    }

    .testimonials-head h1 {
        font-size: 30px;
    }

    .testimonial-start {

        height: 418px;
        width: 100%;

    }

    .test-row {
        margin-top: -13%;
    }


    .test-user {
        width: 333px;
        height: 158px;
        padding: 5px;

    }

    .test-user h3 {
        font-size: 17px;
        font-weight: bold;
    }

    .test-img {
        position: absolute;
        top: 135px;
        right: 379px;
        height: 43%;


    }

    .test-img img {
        height: 70%;
        border-radius: 50%;
    }

    .test-user p {
        font-size: 11px;
        line-height: 21px;
    }

    .test-indicator {
        left: 23%;
        top: -55%;


    }

    .test-btn {
        display: inline-block;
        height: 5px;
        width: 1px;
        margin: 4px;
        border-radius: 15px;
        background-color: #002244;
        cursor: pointer;
    }

    .active-test {
        width: 18px;
    }
}

@media (max-width:425px) {

    .testimonials-head {
        text-align: center;
        padding-top: 28px;
        font-size: 40px;
        color: rgb(192, 43, 43);
    }

    .testimonials-head h1 {
        font-size: 30px;
    }

    .testimonial-start {

        height: 316px;
        width: 100%;

    }

    .test-row {
        margin-top: -13%;
    }


    .test-user {
        width: 291px;
        height: 97px;
        padding: 5px;

    }

    .test-user h3 {
        font-size: 15px;
        font-weight: bold;
    }

    .test-img {
        position: absolute;
        top: 146px;
        right: 435px;
        height: 37%;

    }

    .test-img img {
        height: 70%;
        border-radius: 50%;
    }

    .test-user p {
        font-size: 8px;
        line-height: 14px;
    }

    .test-indicator {
        left: 13%;
        top: -60%;


    }

    .test-btn {
        display: inline-block;
        height: 5px;
        width: 1px;
        margin: 4px;
        border-radius: 15px;
        background-color: #002244;
        cursor: pointer;
    }

    .active-test {
        width: 11px;
    }
}

@media (max-width:375px) {

    .testimonials-head {
        text-align: center;
        padding-top: 28px;
        font-size: 40px;
        color: rgb(192, 43, 43);
    }

    .testimonials-head h1 {
        font-size: 30px;
    }

    .testimonial-start {

        height: 316px;
        width: 100%;

    }

    .test-row {
        margin-top: -13%;
    }


    .test-user {
        width: 199px;
        height: 110px;
        padding: 5px;

    }

    .test-user h3 {
        font-size: 15px;
        font-weight: bold;
        margin-top: -6%;
    }

    .test-img {
        position: absolute;
        top: 149px;
        right: 530px;
        height: 34%;

    }

    .test-img img {
        height: 70%;
        border-radius: 50%;
    }

    .test-user p {
        font-size: 9px;
        line-height: 11px;
    }

    .test-indicator {
        left: 8%;
        top: -60%;


    }

    .test-btn {
        display: inline-block;
        height: 5px;
        width: 1px;
        margin: 4px;
        border-radius: 15px;
        background-color: #002244;
        cursor: pointer;
    }

    .active-test {
        width: 11px;
    }
}