* {
    padding: 0%;
    margin: 0%;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0%;
    overflow-x: hidden;
    text-decoration: none;
    background-color: #eee5de;
}

.nav-brand {
    height: 100px;
}

.nav-main {
    background-color: #E1EBEE !important;
}

.navbar {
    display: block
}

.logo img {
    max-height: 80px !important;
    max-width: auto !important;
    position: relative;
    top: 25px;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: right !important;
    float: right;
}

.nav {
    float: right !important;
    text-decoration: none !important;
    word-wrap: nowrap;
    display: flex !important;
}

.nav-ul {
    display: flex !important;
}

.navbar-nav>.active>a,
.nav-link:hover {

    color: red !important;

}



.nav-li a {
    text-decoration: none !important;
    position: relative;
    bottom: 20px;
    color: black !important;
    margin-right: 40px;
    font-size: 25px;
    white-space: nowrap;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-item.active-test .nav-link {
    color: white !important;
}

.nav-item::before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #dfe2ea;
    border-radius: 8px 8px 0 0;
    opacity: 0;
    transition: .3s;
}


.info-li a {

    position: relative;

    border-top: none;
    border-right: none;
    padding-left: 30px !important;
    /* background-color:#67b0f0; */
    border-radius: 0px 0px 0px 0px !important;
    padding: 10px;

}

.info li a {
    float: right !important;
    display: flex;
    display: inline-block !important;

    text-decoration: none;
    color: rgb(245, 245, 255);
    font-size: 15px;

}

.info-li {
    text-decoration: none !important;
    list-style: none;

}

.info-main {

    border: 1px solid #125df0;
    width: 534px !important;
    /* margin-left: 500px !important; */
    height: 40px;
    display: flex;
    /* align-content: flex-end !important; */
    background-color: #125df0;
    border-radius: 0px 0px 0px 15px !important;
    position: relative;
    justify-content: end !important;
    left: 20px;
    bottom: 10px;
}

.info-fix {
    position: relative;
    right: 10px;
    font-size: 13px;
}

.info-table {
    float: right;
    position: relative;
    left: 4%;
    bottom: 15px;
    display: flex;
    align-items: flex-end;
}

.hemail {
    position: relative !important;
    right: 30%;
    padding: 0%;
    margin: 0%;
}

.info-email {
    position: relative;
    left: 40px;
}

.info-icon {
    position: relative;
    right: 18px;
    font-size: 14px !important;
}

.hamburger {
    position: relative;
    z-index: 100;
    top: -1%;
    right: 1rem;
    cursor: pointer;
    display: none !important;
}

.closeIcon {
    font-size: 45px !important;
    color: black !important;
    position: relative;
    bottom: 35px;
}




@media (max-width:1024px) {
    .logo img {
        width: 150px;

    }

    .info li a {
        font-size: 13px !important;
    }

    .info-icon {
        position: relative;
        right: 14px;
        top: 2px;
    }

    .info-main {
        width: 515px !important;
    }

    .nav-li a {
        display: block;
        margin-left: 28%;
        font-size: 18px;
        font-weight: bolder !important;
    }


}



/* @media (max-width:992px) {
    .logo img {
        width: 150px;

    }

    .nav-li a {
        margin-left: 28%;
        font-size: 18px;
        font-weight: bolder !important;
    }
} */

/* @media (max-width:768px){
  .info{
    display: block !important;
  }
  .navbar-nav{
    display: none !important;
  }
   .toggle {
        display: block !important;
        position: relative;
        bottom: 60px;
    }
  
} */
@media (max-width: 768px) {



    .nav-ul {
        position: fixed;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: rgb(246, 244, 250);
        color: rgb(213, 34, 34) !important;
        text-align: center;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding-top: 4rem;
        flex-direction: column !important;

    }

    /* .nav-link a {
        margin: 1rem 0;
        color: rgb(218, 17, 17);
        z-index: 1;
        display: none !important;
      }
      .active {
        right: 49px;
        z-index: 100;
        transition: 0.2s ease;
      } */

    /* nav ul li  {
    display: block;
    width: 100%;
    margin:0;
    }
    nav li a {
        position: relative;
        top: 0px;
    } */

    /* .hamburger {
        display: block !important;

    }

    .active .bar:nth-child(2) {
        opacity: 0;
    }

    .active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(-315deg);
        transform: translateY(8px) rotate(-315deg);
        width: 300%;
    }

    .active .bar:nth-child(3) {
        -webkit-transform: translateY(-10px) rotate(-45deg);
        transform: translateY(-10px) rotate(-45deg);
        width: 300%;
    }

    .nav-li a:hover {
        background: none !important;
        color: green;
        font-size: 1.6rem;

    } */


    .logo img {
        position: relative !important;
        top: 35px;
        width: 140px;
        height: 55px;
    }

    .navbar {
        height: 130px;
    }

    .hamburger {
        position: relative;
        z-index: 100;
        top: -1%;
        right: 1rem;
        cursor: pointer;
        display: block !important;
    }

    .closeIcon {
        font-size: 45px !important;
        color: black !important;
        position: relative;
        bottom: 35px;
    }

    .showMenu {
        transform: translateY(0);
    }
}



@media (max-width:767px) {



    .info-ul {
        display: block !important;
        position: relative;
        bottom: 61px;

    }

    .info-main {
        width: 523px !important;
        right: 5px;
    }

    .info-fix {
        top: 4px;
        right: 18px;
    }

    .info-icon {
        left: -22px;
        top: 5px;
    }

    .info li a {
        font-size: 11px !important;
    }

    .logo img {
        position: relative !important;
        top: 40px;
        width: 140px;
        height: 55px;
    }



    .hamburger {
        position: absolute;
        z-index: 100;
        top: 49% !important;
        right: 3rem;
        cursor: pointer;
        display: block !important;
    }

    .navbar {
        display: block;
        height: 130px;
    }

    .hemail {
        bottom: 5px;
    }

}

@media (max-width:575px) {


    /* .nav-ul li a {
        display: block;
        position: relative;
        width: 100%;
        height: 100hv;
        left: 0;
        background-color: #c2ed00;


    } */

    /* nav ul li {
        display: none;
        width: 100%;
        margin: 0;
    } */
}

@media (max-width:500px) {
    .info-main {
        width: 560px !important;
        right: 5px;
    }

    .info li a {
        font-size: 7px !important;
    }

    .nav li {
        display: block;
    }
}

@media (max-width:425px) {
    .navbar {
        height: 130px;
    }

    .logo img {

        width: 130px;
        height: 50px;
    }

    .info-li {
        display: none;
    }

    .toggle {
        bottom: 19px;
    }

    /* .info-main{
        border-radius: 0px 0px 0px 0px !important;
            width:471px;
         
    }
   
    .info-email,.info-phone {
        left: 20px;
    } */

}

/* mega menu */
.mega-box {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 100px;
    visibility: hidden;
    border-radius: 10px;


}

.content {
    background: #deebee;
    border: 10px;
    padding: 25px 40px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.mega-main {
    width: 25%;
    line-height: 45px;

}

.mega-main p {
    color: black;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.mega-ul {
    list-style: none;
    margin-right: -42px;

}


.mega-li {
    padding: 0 20px;
    text-align: left;

}

.mega-link {
    font-size: 11px !important;
    padding: 0 20px;
    color: #125df0;
    display: inline-block;
    width: 70%;
    /* transition: all .4s ease; */
}

/* .mega-link:hover {
    color: red !important;
    border-radius: 10px;
    background-color: #11b8ea !important;

} */

#nav-ul:hover .mega-box {
    /* transition: all 10s !important; */
    visibility: visible;
    z-index: 3;
}

.mega-link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(215, 15, 15);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.mega-link:hover:after {
    width: 50%;
    left: 0;
}


/*image  */
.mySlides {
    display: none;
}

.slider-button {
    height: 17px;
    width: 13px;
    padding: 0;
    display: flex;
    position: relative;
    background: black;
    color: black !important;
    bottom: 50px;
    left: 49%;

}

.curousel-btn {
    display: flex;
    position: relative;
    bottom: 50%;

}

.w3-left,
.w3-right,
.w3-badge {
    cursor: pointer
}



/* our services */

.index-service {
    /* overflow: hidden; */
    margin-top: -20px;
    background-color: #deebee;
    height: 100;
    padding: 20px;
}

/* .index-equal-height{
    gap: 20px;
} */

.index-ser {
    text-align: center;
    font-size: 22% !important;
    color: rgb(201, 110, 110);
    font-family: sans-serif;
    position: relative;
    top: 20px;

}

.index-service-row {
    margin-top: 120px;
}


.index-3-service {
    margin-top: 30px;
    height: 600px;

}

.main-ser {
    width: 100%;
    height: 350px;
    text-align: center;
    position: relative;
    cursor: pointer;
    margin-top: 24px;

}

.index-main-ser {
    width: 100%;
    height: 350px;
    text-align: center;
    position: relative;
    cursor: pointer;
    /* margin-top: 240px; */
}





.index-serivice-card {
    background-color: #B0C4DE;
    padding: 30px;
    border-radius: 10px;
    position: relative;
    bottom: 0%;
    z-index: 1;
    transition: transform .8s;
    box-shadow: 0 0 20px -15px #030380;
}

.our-index-service-icon {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: -90px auto 0;
    background-color: #B0C4DE;
    border: 10px solid white;
}

.our-index-service-icon i {
    font-size: 50px;
    margin-top: 32px;
    margin-left: 30px;
    transition: transform 1s;

}

.our-index-service-heading h4 {
    height: 35px;
    width: 80%;
    font-size: 25px;
    color: black;
    background: #B0C4DE;
    margin: 50px auto;
    position: relative;
    text-align: center;
}

.our-index-service-heading h4::after {
    content: '';
    width: 70px;
    height: 30px;
    background-color: #4C516D;
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: -1;

}

.our-index-service-heading h4::before {
    content: '';
    width: 40px;
    height: 30px;
    background-color: #4C516D;
    position: absolute;
    left: -5px;
    bottom: -5px;
    z-index: -1;
}

.index-shadowone {
    height: 200px;
    width: 80%;
    background-color: #B0C4DE;
    position: relative;
    border-radius: 10px;
    bottom: 400px;
    left: 10%;
    z-index: 0;
    box-shadow: 0 0 20px -15px #030380;
    transition: transform .8s;

}

.index-shadowtwo {
    height: 200px;
    width: 64%;
    background-color: #B0C4DE;
    position: relative;
    border-radius: 10px;
    bottom: 200px;
    left: 18%;
    z-index: 0;
    box-shadow: 0 0 20px -15px #030380;
    transition: transform .8s;

}

.index-main-ser:hover .index-serivice-card {
    transform: translateY(-50px);
}

.index-main-ser:hover .index-shadowone {
    transform: translateY(-25px);
}

.index-serivice-card:hover .our-service-icon i {
    transform: rotate(360deg);
}

@media (max-width:1024px) {
    .index-3-service {
        height: 650px;

    }

    .index-service-row {
        margin-top: 120px;
    }

    .index-serivice-card {
        /* width: 350px;
        height: 500px !important; */
    }

    .our-index-service-icon {
        width: 120px;
        height: 120px;
    }

    .our-index-service-icon i {
        font-size: 40px;
        margin-top: 32px;
        margin-left: 30px;
        transition: transform 1s;

    }

    .our-index-service-heading h4 {

        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }





}

@media (max-width:991px) {

    /* .index-serivice-card {
       width: 300px;
    } */
    .index-service {

        height: 1010px;
    }

    .index-serivice-card {
        width: 237px;
        height: 700px !important;
    }

    .our-index-service-icon {
        width: 87px;
        height: 110px;
        border-radius: 50%;

    }

    .our-index-service-icon i {
        font-size: 33px;
        margin-top: 14px;
        margin-left: 0px;
        transition: transform 1s;

    }

    .our-index-service-heading h4 {

        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width:767px) {
    .main-ser {
        width: 100%;
        height: 350px;
        text-align: center;
        position: relative;
        cursor: pointer;
        margin-top: 24px;

    }

    .index-service {

        height: 2000px;
    }

    .index-serivice-card {
        width: 417px;
        height: 500px !important;
        margin-left: 10%;
    }

    .our-index-service-icon {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        margin: -90px auto 0;
        background-color: #B0C4DE;
        border: 10px solid white;
    }

    .our-index-service-icon i {
        font-size: 50px;
        margin-top: 32px;
        margin-left: 0;
        transition: transform 1s;

    }

    .our-index-service-heading h4 {
        height: 35px;
        width: 80%;
        font-size: 25px;
        color: black;
        background: #B0C4DE;
        margin: 50px auto;
        position: relative;
        text-align: center;
    }

    .index-col-2 {
        margin-top: 50%;
    }

    .index-col-3 {
        margin-top: 50%;
    }

    .index-shadowone {
        height: 200px;
        width: 64%;
        position: relative;
        left: 18%;


    }

    .index-shadowtwo {
        height: 200px;
        width: 48%;
        position: relative;
        left: 26%;


    }


}

@media (max-width:525px) {
    .index-service-row {
        position: relative;
        right: 1%;
    }
}

@media (max-width:425px) {
    .index-service-row {
        position: relative;
        right: 18%;
    }

    .index-col-2,
    .index-col-3 {
        margin-top: 68%;
    }
    .our-index-service-heading h4::after,.our-index-service-heading h4::before{
        display: none;
    }

    .index-shadowone {
        height: 200px;
        width: 86%;
        position: relative;
        left: 24%;


    }
   

    .index-shadowtwo {
        height: 200px;
        width: 64%;
        position: relative;
        left: 35%;

    }

}

@media (max-width:424px) {
    .index-service-row {
        position: relative;
        right: 7%;
    }
    .index-service{
        
        height: 2400px;
    }

    .index-serivice-card {
        width: 300px;
        height: 630px !important;
        margin-left: 10%;
    }

    .index-col-2,
    .index-col-3 {
        margin-top: 108%;
    }

    .index-shadowone {
        height: 200px;
        width: 64%;
        position: relative;
        left: 26%;


    }

    .index-shadowtwo {
        height: 200px;
        width: 42%;
        position: relative;
        left: 38%;

    }

}
@media (max-width:350px){
    .index-service-row {
        position: relative;
        right: 7%;
    }
    .index-serivice-card {
        width: 270px;
        height: 650px !important;
        margin-left: 10%;
    }
    .our-index-service-icon {
        width: 109px;
        height: 106px;
       
    }
    .our-index-service-heading h4 {
        height: 35px;
        width: 80%;
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
      
    }
    

    .our-index-service-icon i {
        font-size: 32px;
        margin-top: 28px;
     

    }
    .index-shadowone {
        height: 200px;
        width: 73%;
        position: relative;
        left: 26%;


    }

    .index-shadowtwo {
        height: 200px;
        width: 50%;
        position: relative;
        left: 38%;

    }
}

/* our services end */

/* our mission our vission we atre selten */

.app1 {
    position: relative;
    width: 106%;
    top: 3px;
}

/* .app1:hover {
    
} */


.app2 {
    position: relative;
    width: 106%;
    bottom: 35px;
    right: 45px;
}

/* .app2:hover {} */

.app3 {
    position: relative;
    width: 58%;
    left: 41%;
    bottom: 71px;
}

.app3:hover {}

.paras {

    position: relative;
    top: 20px;
    width: 600px;
    background-color: #002D62;
    /* background-image: url(../images/logo/back4.jpg); */
    padding: 44px;
    right: 37px;
    color: rgb(9, 9, 9);
    font-size: large;
    font-weight: bold;
    border-radius: 0px 0px 0px 0px;
    font-family: cursive;
    /* background: red;
    animation: mymove 5s infinite; */
}

/* @keyframes mymove{
    from {background-color: #cc5333;}
    to {background-color: #23074d;}
  }  */
.first-col {
    height: 278px;
    margin-top: 5px;
    width: 600px;
    overflow: hidden;
    position: relative;
    right: 19px;
}

.para-1 {
    background-image: linear-gradient(143deg, #c2ed00 74%, #daf400 5%);
}

.para-2 {
    background-image: linear-gradient(143deg, #fdcf34 74%, #fde249 5%);
}

.para-3 {
    background-image: linear-gradient(143deg, #7baeff 74%, #9fc3ff 5%);
}

/* our mission our vission we atre selten end */

/* testimonial */
.testimonial-start {
    background-image: url("../images/backroung-image/test-2.webp");
    box-sizing: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    height: 618px;
    width: 100%;

}

.test-container {
    width: 800px;
    height: 400px;

    /* position: absolute; */
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
}

.testimonials-head {
    text-align: center;
    padding-top: 80px;
    font-size: 40px;
    color: rgb(192, 43, 43);
}

.testimonial {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.test-row {
    display: flex;
    width: 3200px;
    transition: 0.5s;
}

.test-col {
    width: 800px;
    height: 400px;
    position: relative;
}

.test-img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;

}

.test-img img {
    height: 100%;
    border-radius: 50%;
}

.test-user {
    background: #002244;
    width: 520px;
    height: 270px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    color: white;
    padding: 45px;
    box-sizing: border-box;
    z-index: 2;
}

.test-user p {
    font-size: 18px;
    line-height: 24px;
}

.test-indicator {
    position: relative;
    left: 50%;
    transform: translateY(-50%);
    margin-top: 20px;

    transition: 0.5s;

}

.test-btn {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 4px;
    border-radius: 15px;
    background-color: #002244;
    cursor: pointer;
}

.active-test {
    width: 45px;
}