* {
    padding: 0%;
    margin: 0%;
}

.our-6-service {
    display: grid;
    gap: 20px;
    grid-template-columns: auto-fit, minmax(300px);
    
}

.service-col-1,
.service-col-2,
.service-col-3,
.service-col-4,
.service-col-5,
.service-col-6 {
    margin-top: 50px;
    
}
.service-col-4,
.service-col-5,
.service-col-6{
    margin-bottom: 50px;
}


.main-ser {
    width: 100%;
    height: 350px;
    text-align: center;
    position: relative;
    cursor: pointer;
    margin-top: 240px;

}

@keyframes fadeInLef {
    0% {
        opacity: 0;
        transform: translateY(-300px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.equal-height {
    row-gap: 20px;
}

.serivice-card {
    background-color: #B0C4DE;
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    gap: 10px 20px 40px 40px;
    bottom: 0%;
    z-index: 1;
    transition: transform .8s;
    box-shadow: 0 0 20px -15px #030380;
}

.our-service-icon {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: -90px auto 0;
    background-color: #B0C4DE;
    border: 10px solid white;
}

.our-service-icon i {
    font-size: 50px;
    margin-top: 35px;
    /* margin-left: 20px; */
    transition: transform 1s;

}

.our-service-heading h4 {
    height: 35px;
    width: 80%;
    font-size: 25px;
    color: black;
    background: #B0C4DE;
    margin: 50px auto;
    position: relative;
}

.our-service-heading h4::after {
    content: '';
    width: 40px;
    height: 30px;
    background-color: #4C516D;
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: -1;

}

.our-service-heading h4::before {
    content: '';
    width: 40px;
    height: 30px;
    background-color: #4C516D;
    position: absolute;
    left: -5px;
    bottom: -5px;
    z-index: -1;
}

.shadowone {
    height: 200px;
    width: 80%;
    background-color: #B0C4DE;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 10%;
    z-index: -1;
    box-shadow: 0 0 20px -15px #030380;
    transition: transform .8s;
}

.shadowtwo {
    height: 200px;
    width: 64%;
    background-color: #B0C4DE;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 18%;
    z-index: -2;
    box-shadow: 0 0 20px -15px #030380;
    transition: transform .8s;
}

.main-ser:hover .serivice-card {
    transform: translateY(-50px);
}

.main-ser:hover .shadowone {
    transform: translateY(-25px);
}

.serivice-card:hover .our-service-icon i {
    transform: rotate(360deg);
}

@media (max-width:574px) {


    .card-head {
        width: 550px;
        height: 500px;
    }
}
@media (max-width:1199px) {
    .service-col-1,
    .service-col-2,
    .service-col-3,
    .service-col-4,
    .service-col-5,
    .service-col-6 {
        margin-top: 140px;
        
    }
    .service-col-4,
    .service-col-5,
    .service-col-6{
        margin-bottom: 50px;
    }
    
    .our-service-heading h4 {
        height: 35px;
        width: 80%;
        font-size: 21px;
       
    }
}

@media (max-width:1024px) {
    .service-col-1,
    .service-col-2,
    .service-col-3,
    .service-col-4,
    .service-col-5,
    .service-col-6 {
        margin-top: 140px;
        
    }
    .service-col-4,
    .service-col-5,
    .service-col-6{
        margin-bottom: 50px;
    }
    
    .our-service-heading h4 {
        height: 35px;
        width: 80%;
        font-size: 21px;
       
    }





}

@media (max-width:991px) {

    .service-col-1,
    .service-col-2,
    .service-col-3,
    .service-col-4,
    .service-col-5,
    .service-col-6 {
        margin-top: 350px;
        
    }
    .service-col-4,
    .service-col-5,
    .service-col-6{
        margin-bottom: 50px;
    }
    
    .our-service-heading h4 {
        height: 35px;
        width: 80%;
        font-size: 20px;
       
    }
    .our-service-heading h4::before,.our-service-heading h4::after{
        display: none;
    }
}

@media (max-width:767px) {
   
    .service-col-1,
    .service-col-2,
    .service-col-3,
    .service-col-4,
    .service-col-5,
    .service-col-6 {
        margin-top: 0px;
        
    }
    .service-col-4,
    .service-col-5,
    .service-col-6{
        margin-bottom: 0px;
    }
    .service-col-6{
        margin-bottom: 30px;
    }
    
    .our-service-heading h4 {
        height: 35px;
        width: 80%;
        font-size: 25px;
       
    }
    .our-service-heading h4::before,.our-service-heading h4::after{
        display: block;
    }

}

@media (max-width:525px) {
    .service-row {
        position: relative;
        right: 1%;
    }
}

@media (max-width:425px) {
    .service-col-1,
    .service-col-2,
    .service-col-3,
    .service-col-4,
    .service-col-5,
    .service-col-6 {
        margin-top: 74px;
        
    }
    .service-col-4,
    .service-col-5,
    .service-col-6{
        margin-bottom: 0px;
    }
    .service-col-6{
        margin-bottom: 30px;
    }
    
    .our-service-heading h4 {
        height: 35px;
        width: 80%;
        font-size: 25px;
       
    }
    .our-service-heading h4::before,.our-service-heading h4::after{
        display: block;
    }

}



@media (max-width:375px) {
    .service-col-1,
    .service-col-2,
    .service-col-3,
    .service-col-4,
    .service-col-5,
    .service-col-6 {
        margin-top: 70px;
        
    }
    .service-col-4,
    .service-col-5,
    .service-col-6{
        margin-bottom: 0px;
    }
    .service-col-6{
        margin-bottom: 30px;
    }
    
    .our-service-heading h4 {
        height: 35px;
        width: 80%;
        font-size: 25px;
       
    }
    .our-service-heading h4::before,.our-service-heading h4::after{
        display: block;
    }
}

@media (max-width:350px) {

    .shadowone,
    .shadowtwo {
        display: none;


    }
}

@media (max-width:320px) {

    .service-col-1,
    .service-col-2,
    .service-col-3,
    .service-col-4,
    .service-col-5,
    .service-col-6 {
        margin-top: 152px;
        
    }
    .service-col-4,
    .service-col-5,
    .service-col-6{
        margin-bottom: 0px;
    }
    .service-col-6{
        margin-bottom: 30px;
    }
    
    .our-service-heading h4 {
        height: 35px;
        width: 80%;
        font-size: 25px;
       
    }
    .our-service-heading h4::before,.our-service-heading h4::after{
        display: none;
    }

}