* {
    padding: 0%;
    margin: 0%;
}

.s-container {
    display: grid;
    gap: 20px;
    grid-template-columns: auto-fit, minmax(300px);
}


.main-ser {
    width: 100%;
    height: 350px;
    text-align: center;
    position: relative;
    cursor: pointer;
    margin-top: 240px;

}

@keyframes fadeInLef {
    0% {
        opacity: 0;
        transform: translateY(-300px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.equal-height{
    row-gap: 20px;
} 
.serivice-card {
    background-color: #B0C4DE;
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    gap: 10px 20px 40px 40px;
    bottom: 0%;
    z-index: 1;
    transition: transform .8s;
    box-shadow: 0 0 20px -15px #030380;
}

.our-service-icon {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: -90px auto 0;
    background-color: #B0C4DE;
    border: 10px solid white;
}

.our-service-icon i {
    font-size: 50px;
    margin-top: 35px;
    /* margin-left: 20px; */
    transition: transform 1s;

}

.our-service-heading h4 {
    height: 35px;
    width: 80%;
    font-size: 25px;
    color: black;
    background: #B0C4DE;
    margin: 50px auto;
    position: relative;
}

.our-service-heading h4::after {
    content: '';
    width: 40px;
    height: 30px;
    background-color: #4C516D;
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: -1;

}

.our-service-heading h4::before {
    content: '';
    width: 40px;
    height: 30px;
    background-color: #4C516D;
    position: absolute;
    left: -5px;
    bottom: -5px;
    z-index: -1;
}

.shadowone {
    height: 200px;
    width: 80%;
    background-color: #B0C4DE;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 10%;
    z-index: -1;
    box-shadow: 0 0 20px -15px #030380;
    transition: transform .8s;
}

.shadowtwo {
    height: 200px;
    width: 64%;
    background-color: #B0C4DE;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 18%;
    z-index: -2;
    box-shadow: 0 0 20px -15px #030380;
    transition: transform .8s;
}

.main-ser:hover .serivice-card {
    transform: translateY(-50px);
}

.main-ser:hover .shadowone {
    transform: translateY(-25px);
}

.serivice-card:hover .our-service-icon i {
    transform: rotate(360deg);
}
@media (max-width:574px) {


    .card-head {
        width: 550px;
        height: 500px;
    }
}

@media (max-width:1199px) {


    .card-head {
        width: 247px;
        height: 582px;
    }

    .mainservices {
        position: relative;
        left: 17px !important;
    }

    .spara {
        font-size: 15px;
    }

    .sicon-icon {

        font-size: 57px !important;
    }

    .sheading h4 {
        font-size: 20px;
    }
}

@media (max-width:767px) {
    .mainservices {
        display: flex;
        justify-content: center;
        align-items: center;
        /* position: relative !important;
        left: -12px !important; */
    }
    .card-head {
        width: 306px !important;
        height: 487px !important;
    }
    .mainservices {
        margin-left: 32% !important;
    }


}

@media (max-width:991px) {
   

    .card-head {
        width: 189px;
        height: 599px;
    }

    .mainservices {
        position: relative;
        left: -34px  !important;
    }

    .spara {
        font-size: 15px;
    }

    .sicon-icon {
        font-size: 57px !important;
    }

    .sheading h4 {
        font-size: 20px;
    }
}

@media (max-width:425px) {
  

    .card-head {
        width: 290px !important;
        height: 500px !important;
        justify-content: center;

    }

    .spara {
        font-size: 15px;
    }

    .sicon-icon {
        font-size: 57px !important;
    }
}

@media (max-width:375px) {
    .mainservices {
        position: relative !important;
        left: -68px !important;
    }
    .card-head {
        width: 200px !important;
        height: 500px !important;
        justify-content: center;

    }
}

@media (max-width:320px) {
    .mainservices {
        position: relative !important;
        left: -90px !important;
    }
}